h1,h4,h5,h6 {
    #font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

h2 {
    #font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

h3 {
    #font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    #font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 14px
}

.topbar {
    height: 231px;
    width: 100%;
    position: fixed;
    background-color: #d3cab2;
    overflow: hidden;
    left: 0;
    top: 0;
}

.menu {
    position: fixed;
    height: 50px;
    width: 50px;
    left: 0;
    top: 170px;
}

.krs-brown,.krs-hover-brown:hover{color:#000!important;background-color:#d3cab2!important}
.krs-pink,.krs-hover-pink:hover{color:#000!important;background-color:#ccb1a6!important}
