@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);


h1,h2,h3,h4 {
    font-family: "Roboto Condensed", Helvetica;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #555;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-size: 14px;
    font-weight: 600;
}

body {
    font-weight: 300;
    font-size: 15px
}

.topbar {
    height: 231px;
    width: 100%;
    position: fixed;
    background-color: #d3cab2;
    overflow: hidden;
    left: 0;
    top: 0;
}

.menu {
    position: fixed;
    height: 50px;
    width: 50px;
    left: 0;
    top: 170px;
}

.housebutton {
    position: fixed;
    height: 15px;
    width: 15px;
    left: 850px;
    top: 200px;
}


.krs-brown,.krs-hover-brown:hover{color:#000!important;background-color:#d3cab2!important}
.krs-pink,.krs-hover-pink:hover{color:#000!important;background-color:#ccb1a6!important}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
  #content-desktop {display: none;}
  #content-mobile  {display: block;}
}
