h1,h3,h4,h5,h6 {
    #font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

h2 {
    #font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    #font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 14px
}

.topbar {
    height: 230px;
    width: 100%;
    position: fixed;
    background-color: #d3cab2;
    left: 0;
    top: 0;
}

.krs-brown,.krs-hover-brown:hover{color:#000!important;background-color:#d3cab2!important}
