<p class="heads">
  Gamla hus
</p>
<p class="tab">
  <a href="/sv/index_by_number" class="w3-bar-item w3-button krs-hover-brown">Enligt fastighetsnummer</a>
  <a href="/sv/index_by_address" class="w3-bar-item w3-button krs-hover-brown">Enligt Adress</a>
  <a href="/sv/index_by_stadsdel" class="w3-bar-item w3-button krs-hover-brown">Enligt Kvarter</a>
  <a href="/sv/index_by_alder" class="w3-bar-item w3-button krs-hover-brown">Enligt Ålder</a>
</p>
<p class="heads">
  Annat
</p>
<p class="tab">
  <a href="/sv/kartor" class="w3-bar-item w3-button krs-hover-brown">Kartor</a>
  <a href="/sv/kallor" class="w3-bar-item w3-button krs-hover-brown">Källor</a>
  <br><br><br><br>
  <a href="/fi/index" class="w3-bar-item w3-button krs-hover-brown">Suomeksi</a>
</p>
