<p class="heads">
  Vanhat talot
</p>
<p class="tab">
    <a href="/fi/index_by_address" class="w3-bar-item w3-button krs-hover-brown">Osoitteen mukaan</a>
  <a href="/fi/index_by_number" class="w3-bar-item w3-button krs-hover-brown">Kiinteistönumeron mukaan</a>
  <a href="/fi/index_by_stadsdel" class="w3-bar-item w3-button krs-hover-brown">Kaupunginosan mukaan</a>
  <a href="/fi/index_by_alder" class="w3-bar-item w3-button krs-hover-brown">Iän mukaan</a>
</p>
<p class="heads">
  Muuta
</p>
<p class="tab">
  <a href="/fi/karttoja" class="w3-bar-item w3-button krs-hover-brown">Karttoja</a>
  <a href="/fi/people" class="w3-bar-item w3-button krs-hover-brown">Henkilöitä</a>
  <a href="/fi/ships" class="w3-bar-item w3-button krs-hover-brown">Laivoja</a>
  <a href="/fi/lahteita" class="w3-bar-item w3-button krs-hover-brown">Lähteitä</a>
  <br><br><br><br>
  <!-- stay on building page when switching language, could probably be done for all pages but buildings enough for me -->
  {% if page.layout == 'building' %}
    {% assign ur = page.url|remove:'fi.html' %}
    <a href="{{ ur }}sv.html" class="w3-bar-item w3-button krs-hover-brown">På svenska</a>
  {% else %}
    <a href="/index" class="w3-bar-item w3-button krs-hover-brown">På svenska</a>
  {% endif %}
</p>
