<p class="heads">
  Vanhat talot
</p>
<p class="tab">
    <a href="/fi/index_by_address" class="w3-bar-item w3-button krs-hover-brown">Osoitteen mukaan</a>
  <a href="/fi/index_by_number" class="w3-bar-item w3-button krs-hover-brown">Kiinteistönumeron mukaan</a>
  <a href="/fi/index_by_stadsdel" class="w3-bar-item w3-button krs-hover-brown">Kaupunginosan mukaan</a>
  <a href="/fi/index_by_alder" class="w3-bar-item w3-button krs-hover-brown">Iän mukaan</a>
</p>
<p class="heads">
  Muuta
</p>
<p class="tab">
  <a href="/fi/karttoja" class="w3-bar-item w3-button krs-hover-brown">Karttoja</a>
  <a href="/fi/lahteita" class="w3-bar-item w3-button krs-hover-brown">Lähteitä</a>
  <br><br><br><br>
  <a href="/index" class="w3-bar-item w3-button krs-hover-brown">På svenska</a>
</p>
